.header{
    display: flex ;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    position: fixed;
    background: aquamarine;
    font-size: larger;
    color :darkmagenta;
    width: 100%;
    height: 10%;
    top: 0px;
    left: 0px;
    right: 0px;
    border-bottom: 2px solid black;

}
.header p{
    margin-left: 20px;
}
body{
    background-image: url(/img/mgke.png);
}
main{
    display:block;
    block-size: 850px;
    width: 50%;
    background-color: rgba(255, 250, 240,0.9);
    box-shadow: 0 0 10px 5px cyan;
    margin-right: 25%;
    margin-left: 25%;
    padding-top: 5%;
}
.form{
    display:block;
    block-size: 600px ;
    border: 2px solid;
    background-color:darkmagenta;
    border-radius: 10px;
    width:50%;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 12%;

}
.wrap{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
}
.wrap label{
    margin-right: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.wrap input{
    margin-top: 8px;
    margin-bottom: 8px;
}
.wrap input:focus{
    box-shadow: 0 0 10px 5px cyan;
}
.wrap .btn{
    margin-top: 10px;
}
.wrap .btn{
    background-color: cyan;
    color:darkmagenta;
    border:5px solid cyan;
    border-radius: 5px;
}
.wrap .btn:hover{
    background-color: cyan;
    color:darkmagenta;
    border:8px solid cyan;
    border-radius: 5px;
}
.wrap h1{
    color:cyan;
}
.footer{
    margin-top: 90%;
    display: flex;
    position: fixed;
    background: aquamarine;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.year{
    font-size: large;
    color: rebeccapurple;

}