<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> Add </title>
    <link rel="stylesheet" th:href="@{/css/AddArticleStyle.css}">
</head>
<body>
<header class="header">
    <p class="sm">@GammaTechnology</p>
</header>
<main>
    <form method="post" action="/Add" class="form" >
        <div class="input">
            <h3>Добавить статью</h3>
            <input type="text" placeholder="ФИО" name="FIO" >
            <input type="text" name="subject" placeholder="Дисциплина" >
            <input type="text" placeholder="Тема" name="topic" >
            <textarea name="content" placeholder="Текст статьи" ></textarea>
            <button type="submit" class="btn"> Добавить Статью </button>
        </div>
    </form>
</main>
<footer class="footer">
    <div class="year">@2020</div>
</footer>
</body>
</html>