<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="" th:href="@{/css/AdminCabinetStyle.css}">
    <title>Admin Cabinet</title>
</head>
<body>
<header>
    <div class="sm">
        <img src="" th:src="@{/img/sm_full.aspx.jpeg}" alt="">
    </div>
</header>
<div class="buttons">
    <a href=""><button>edit</button></a>
    <a href="/add"><button>add articles</button></a>
    <a href="/blog"><button>articles</button></a>
    <form action="logout" method="post"><button type="submit">logout</button></form>
</div>
<main>

</main>
<footer>
    <div class="year">
        @2020
    </div>
</footer>
</body>
</html>