<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> articles </title>
    <link rel="stylesheet" href="" th:href="@{/css/HFBBlogDetailStyle.css}">
</head>
<body>
<header class="header">
    <h3 class="sm">@GammaTechnology</h3>
    <a class="link" href="/blog">Articles</a>
    <button class="button" type="button" href="/login">Sign In</button>
</header>
<main>
    <div class="container">
        <h1 th:each="el: ${articles}" th:text="'Статья:'+${el.subject}+ . + ${el.FIO}"></h1>
        <div th:each="el: ${articles}" >
            <p th:text="${el.topic}"></p>
            <p th:text="${el.text}"></p>
            <a href="/blog" >Go back.</a>
        </div>
       </div>
</main>
<footer class="footer">
    <div class="year"><b>@2020</b></div>
</footer>
</body>
</html>