<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> articles </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
 <body>
 <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
     <h5 class="my-0 mr-md-auto font-weight-normal">GammaTechnology</h5>
 </div>
 <div class="container mt-5">
     <h3> Статьи </h3>
     <div class="alert alert-info mt-2">
        <p>Тут будет вывод статьей</p>
     </div>
 </div>
 </body>
</html>