<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> Homepage </title>
    <link rel="stylesheet" href=""  th:href="@{/css/MainPageStyle.css}">
</head>
<body>
<header class="header">
    <h3 class="sm">@GammaTechnology</h3>
    <a class="link" href="/blog">Articles</a>
    <button class="button" href="/signIn">Sign In</button>
</header>
<main class= "main">
</main>
<footer class="footer">
    <div class="year"><b>@2020</b></div>
</footer>

</body>
</html>