<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>HFB Sing In </title>
    <link rel="stylesheet" th:href="@{/css/SignInStyle.css}">
</head>
<body>
<header>
    <div class="sm">
        <img src="" th:src="@{/img/sm_full.aspx.jpeg}" alt="">
    </div>
</header>
<div class="buttons">
    <a href="/homepage"><button>main</button></a>
    <a href="/add"><button>add articles</button></a>
    <a href="/blog"><button>articles</button></a>
    <a href="#"><button>information</button></a>
</div>
<main>
    <form   action="/login" method="post">
        <div  class="form">
            <h3  >Please sign in</h3>

            <input  type="text" id="inputUserName" name="username"  placeholder="username" required autofocus>
            <input type="password" id="inputPassword" name="password" class="passwordIn" placeholder="Password" required>
            <a href="/signUp"><i>Sing Up</i></a>
            <button class="btn" type="submit">Sign in</button>
        </div>
    </form>
</main>
<footer>
    <div class="year">
        @2020
    </div>
</footer>
</body>
</html>