<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>HFB Sing In </title>
    <link rel="stylesheet" th:href="@{/css/SignInStyle.css}">
</head>
<body>
<header class="header">
    <p class="sm">@GammaTechnology</p>
</header>
<main>
    <form   action="/login" method="post">
        <div  class="form">
            <h3  >Please sign in</h3>

            <input  type="email" id="inputEmail" name="email" class="emailIn" placeholder="Email address" required autofocus>
            <input type="password" id="inputPassword" name="password" class="passwordIn" placeholder="Password" required>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me" class="checkbox"> Remember me
                </label>
            </div>
            <a href="/singUp"><i>Sing Up</i></a>
            <button class="btn" type="submit">Sign in</button>
        </div>
    </form>
</main>
<footer class="footer">
    <div class="year">@2020</div>
</footer>
</body>
</html>