<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="" th:href="@{/css/SignUpStyle.css}">
</head>
<body>
<header>
    <div class="sm">
        <img src="" th:src="@{/img/sm_full.aspx.jpeg}" alt="">
    </div>
</header>
<div class="buttons">
    <a href="/homepage"><button>main</button></a>
    <a href="/add"><button>add articles</button></a>
    <a href="/blog"><button>articles</button></a>
    <a href="#"><button>information</button></a>
</div>
<main>
    <form  method="post" action="/signUp" class="form">
        <div   class="wrap">
            <h1  >Please sign Up</h1>
            <input  type="email" name="email" id="inputEmail" class="email" placeholder="Email address" required autofocus>
            <input class="form-control" id="password" name="password" type="password" pattern="^\S{6,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 6 characters' : ''); if(this.checkValidity()) form.password_two.pattern = this.value;" placeholder="Password" required>
            <input class="form-control" id="password_two" name="password_two" type="password" pattern="^\S{6,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');" placeholder="Verify Password" required>
            <input  type="text" name="UserName" class="UserName" placeholder="UserName" required autofocus>

            <button class="btn" type="submit"  >Sign Up</button>
        </div>
    </form>
</main>
<footer>
    <div class="year">
        @2020
    </div>
</footer>
</body>
</html>