<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sing up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">GammaTechnology</h5>
</div>
<h3> Поажлуста зарегестрируйтесь </h3>
<form method="post" action="#" enctype="multipart/form-data">
    <div>
        <input type="email" name="UserName" >
    </div>
    <div>
        <input type="password" name="UserPassword">
    </div>
</form>
</body>
</html>